<div class="container">
  <h1>Answer</h1>

  <div class="question">
    <%@question = params[:question] %>
    <%= @question %>
    <p><em>- You</em></p>
  </div>

  <div class="answer">
    <% if @question == "I am going to work" %>
      <% @answer = "Great!" %>
    <% elsif @question[-1] == "?" %>
      <% @answer = "Silly question, get dressed and go to work!" %>
    <% else %>
      <% @answer = "I don't care, get dressed and go to work!" %>
    <% end %>
    <%= @answer %>
    <p><em>- Your Coach</em></p>
  </div>

  <div class="to-ask">
    <%= link_to "Ask a new question", ask_path %>
  </div>
</div>
